*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

build/
build_*/

*.swp

*.pyc
__pycache__

protocol/*.cc
protocol/*.h
tags
tatus

game_settings.ini

CMakeFiles
cmake.msi

x64/

make_clean.bat
make_again.bat

*.suo
*.user
*.ncb
Debug/
Release/
CodeAnalyst/
.vs/

project/include
project/lib

.DS_Store

docs/html
docs/latex
doxygen.log
